/* footer {
    background-color: #80dc85;
    color: #fff;
    padding: 20px 0;
  }
  
  footer h2, footer h3 {
    color: #fff;
  }
  
  footer .form-control {
    background-color: #80dc85;
    color: #fff;
    border: none;
  }
  
  footer .btn-custom {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  
  footer .contact-item {
    margin-bottom: 20px;
  }
  
  footer .contact-item p {
    margin: 0;
  }
   */