.container-post {
    padding: 0 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  #about {
    margin-top: 20px;
  }

h2 {
  text-align: center; 
  margin: 20px 0; 
  font-size: 24px; 
  font-weight: bold;
  color: forestgreen;
}

  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 10px;
  }

  .flex-item-post {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
  }
  
  .form-group label {
    flex: 0 0 120px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  .submit-button:hover {
    background-color: #0056b3;
  }


  
  .form-group label {
    font-size: 16px;
    font-weight: bold;
  }

  .error {
    color: #e74c3c;
    font-size: 0.875em;
    margin: 0 !important;
  }
  
  .error::before {
    content: "⚠ ";
    font-weight: bold;
  }
  
  .form-group .error {
    display: block;
    margin-left: 5px;
  }

