.container-post {
    padding: 0 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  #about {
    margin-top: 20px;
  }

h2 {
  text-align: center; 
  margin: 20px 0; 
  font-size: 24px; 
  font-weight: bold;
  color: forestgreen;
}

  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group label {
    flex: 0 0 150px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  .form-group div {
    display: flex;
    gap: 15px;
  }
  
  .form-group label {
    font-size: 16px;
    font-weight: bold;
  }