.container-admin {
    margin-top: 150px;
    padding: 20px;
  }
  
  .user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .user-card {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 270px;
  }
  
  .user-card p {
    margin: 0 0 10px;
  }
  
  .user-card strong {
    display: block;
    margin-bottom: 5px;
  }

  .btn-remove {
    width: 25px;
    height: 25px;
    color: red;
    border: none;
    background-color: #fff;
  }